#!/bin/bash
#-------------------------------------------------------------------------------------#
#                                          PATHS                                              #
#-------------------------------------------------------------------------------------#
export WINEPREFIX="/home/$USER/games/ff14_reinstall_v18"
#export WINEPREFIX="/home/$USER/games/ff14_reinstall_v10"
export shared_data_path="/home/$USER/games/ff14_data2"
#-------------------------------------------------------------------------------------#

#-------------------------------------------------------------------------------------#
#                                          DXVK/graphic setings                               #
#-------------------------------------------------------------------------------------#
export dxvk_version="1.10.2"
export DXVK=1
export WINEFSYNC=1
export DXVK_HUD=fps,frametimes,gpuload,version
export DXVK_LOG_LEVEL="none"
#-------------------------------------------------------------------------------------#

#-------------------------------------------------------------------------------------#
#                            Wine verobisty and dlloverrides                                   #
#-------------------------------------------------------------------------------------#
export WINEDEBUG=-all
#export WINEDEBUG=warn+all
#export WINEDLLOVERRIDES="mscoree=n,d3d10core=n,d3d11=n,d3d12=n,d3d9=n,dxgi=n,dssenh=n" #  ,ntdll=n
export WINEARCH=win64
#-------------------------------------------------------------------------------------#

#-------------------------------------------------------------------------------------#
#      Select one from below, if all are commented out, system wine will be used              #
#-------------------------------------------------------------------------------------#
export ACTFOLDER="$WINEPREFIX/drive_c/Advanced Combat Tracker"
export LUTRIS_PATH="/home/$USER/.local/share/lutris/runners/wine/lutris-GE-Proton7-10-x86_64"
#-------------------------------------------------------------------------------------#
# This required wayland + gnome extension found in gnome-extension folder. Read extension.js header for instructions
export enable_gnome_window_moving="yes" # yes/no
export enable_kagerou="yes" # yes/no
export enable_killcount="no" # yes/no